<div class="page-sidebar">
	<ul class="x-navigation">
	  <li class="xn-title">Navigation</li>
	  <li>
	    <%= link_to '#' do %>
	      <span class="fa fa-desktop"></span>
	      <span class="xn-text">營運分析</span>
	    <% end %>
	  </li>
<!--倉管人員-->	  
	  <!--庫存-->
	  <li>
	    <%= link_to '#' do %>
	      <span class="fa fa-desktop"></span>
	      <span class="xn-text">庫存查詢</span>
	    <% end %>
	    <ul>
				<li>    
					<%= link_to '#' do %>
		      	<span class="fa fa-desktop"></span>
		      	<span class="xn-text">庫存狀況</span>
		    	<% end %>
	    	</li>
				<li>    
					<%= link_to '#' do %>
		      	<span class="fa fa-desktop"></span>
		      	<span class="xn-text">進貨紀錄</span>
		    	<% end %>
	    	</li>
			</ul>
	  </li>
	  <!--進貨-->
	  <li>
	    <%= link_to '#' do %>
	      <span class="fa fa-desktop"></span>
	      <span class="xn-text">進貨管理</span>
	    <% end %>
	    <ul>
				<li>    
					<%= link_to '#' do %>
		      	<span class="fa fa-desktop"></span>
		      	<span class="xn-text">商品進貨</span>
		    	<% end %>
	    	</li>
				<li>    
					<%= link_to '#' do %>
		      	<span class="fa fa-desktop"></span>
		      	<span class="xn-text">新增可進貨商品</span>
		    	<% end %>
	    	</li>
			</ul>
	  </li>
	  <!--出貨-->
	  <li>
	    <%= link_to '#' do %>
	      <span class="fa fa-desktop"></span>
	      <span class="xn-text">出貨查詢</span>
	    <% end %>
	  </li>
<!--倉管end-->
<!--營運人員-->
	  <!--訂單-->
	  <li>
	    <%= link_to '#' do %>
	      <span class="fa fa-desktop"></span>
	      <span class="xn-text">訂單管理</span>
	    <% end %>
	    <ul>
				<li>    
					<%= link_to '#' do %>
		      	<span class="fa fa-desktop"></span>
		      	<span class="xn-text">新增來電訂單</span>
		    	<% end %>
	    	</li>
				<li>    
					<%= link_to '#' do %>
		      	<span class="fa fa-desktop"></span>
		      	<span class="xn-text">所有訂單查詢</span>
		    	<% end %>
	    	</li>
			</ul>
	  </li>
	  <!--客戶-->
	  <li>
	    <%= link_to '#' do %>
	      <span class="fa fa-desktop"></span>
	      <span class="xn-text">客戶管理</span>
	    <% end %>
	    <ul>                            
				<li>    
					<%= link_to '#' do %>
		      	<span class="fa fa-desktop"></span>
		      	<span class="xn-text">店家客戶</span>
		    	<% end %>
	    	</li>
				<li>    
					<%= link_to '#' do %>
		      	<span class="fa fa-desktop"></span>
		      	<span class="xn-text">線上會員</span>
		    	<% end %>
	    	</li>
			</ul>
	  </li>
<!--營運end-->
	  </li>
	</ul>
</div>
