<div class="page-sidebar">
	<ul class="x-navigation">
	  <li class="xn-title">Navigation</li>
	  <li>
	    <%= link_to '#' do %>
	      <span class="fa fa-desktop"></span>
	      <span class="xn-text">網站</span>
	    <% end %>
	  </li>
	  <li>
	    <%= link_to '#' do %>
	      <span class="fa fa-desktop"></span>
	      <span class="xn-text">張貼貼文</span>
	    <% end %>
	  </li>
	  <li>
	    <%= link_to '#' do %>
	      <span class="fa fa-desktop"></span>
	      <span class="xn-text">商品管理</span>
	    <% end %>
	    <ul>
				<li>    
					<%= link_to '#' do %>
		      	<span class="fa fa-desktop"></span>
		      	<span class="xn-text">新增商品</span>
		    	<% end %>
	    	</li>
				<li>    
					<%= link_to '#' do %>
		      	<span class="fa fa-desktop"></span>
		      	<span class="xn-text">所有商品</span>
		    	<% end %>
	    	</li>
				<li>    
					<%= link_to '#' do %>
		      	<span class="fa fa-desktop"></span>
		      	<span class="xn-text">商品目錄</span>
		    	<% end %>
	    	</li>
			</ul>
	  </li>
	  <li>
	    <%= link_to '#' do %>
	      <span class="fa fa-desktop"></span>
	      <span class="xn-text">訂單管理</span>
	    <% end %>
	    <ul>
				<li>    
					<%= link_to '#' do %>
		      	<span class="fa fa-desktop"></span>
		      	<span class="xn-text">訂單查詢</span>
		    	<% end %>
	    	</li>
				<li>    
					<%= link_to '#' do %>
		      	<span class="fa fa-desktop"></span>
		      	<span class="xn-text">用戶退貨</span>
		    	<% end %>
	    	</li>
			</ul>
	  </li>
	  <li>
	    <%= link_to '#' do %>
	      <span class="fa fa-desktop"></span>
	      <span class="xn-text">頁面管理</span>
	    <% end %>
	    <ul>
				<li>    
					<%= link_to '#' do %>
		      	<span class="fa fa-desktop"></span>
		      	<span class="xn-text">關於我們</span>
		    	<% end %>
	    	</li>
				<li>    
					<%= link_to '#' do %>
		      	<span class="fa fa-desktop"></span>
		      	<span class="xn-text">聯絡我們</span>
		    	<% end %>
	    	</li>
			</ul>
	  </li>
	  <li>
	    <%= link_to '#' do %>
	      <span class="fa fa-desktop"></span>
	      <span class="xn-text">站台設定</span>
	    <% end %>
	    <ul>
				<li>    
					<%= link_to '#' do %>
		      	<span class="fa fa-desktop"></span>
		      	<span class="xn-text">選單設定</span>
		    	<% end %>
	    	</li>
			</ul>
	  </li>
	</ul>
</div>
