<!DOCTYPE html>
<html>
<head>
  <title>小本油商, 隨便進隨便賣.</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :import_theme %>
</head>
<body>
  <%= yield %>
  <%= yield :require_theme %>
</body>
</html>